
.layerscard{
    margin: 30px;
    border: 0px solid black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 18px -9px rgba(0,0,0,0.75);
    width: 20vw;
    height: 45vh;
    cursor: pointer;
    background-color: #f49200;  
    transition: transform all ease;
}

.layerscard:hover{
    transform: scale(1.08);
}


.layerscard > img{
    width: 24vw;
    height: 36vh;
    object-position: center;
}

.layerscard_info{
    display:flex;
    flex-direction: column;

}

.layerscard_info > h3{
    font-size: 18px;
    font-weight: 600;
    position: relative;
    left: 1vw;
}

.layerscard_info > h4{
    font-size: 14px;
    font-weight: 300;
    margin: 0 15px;
}