@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
   margin:0;
   padding: 0;
   font-family:Poppins;
   
}
html,body{
  width:100%;
  height:100%;
}

.content{
    height: 99.9vh;
    background-color: #f49200;
    position: relative;
    flex-direction: row; 
    display: flex;
    overflow: hidden;
}

.content__left{
  width: 48%;
  height: 99.3vh;
}
.content__right{
  width: 52%;
  height: 99.3vh; 
}

.content__right h1{   
    position: relative;
    top: 25vh;
    left: 30vw;
    height: 30vh;
    width: 20vw;
    font-size: 5vh;
    font-weight: 500;
    color: black;
}

.content__left video{
    left: 0vh;
    position: relative;
    top: 12vh;
    width: 1145px; 
}

.content__right Button{
  position: relative;
  top: 42vh;
  left: 30vw;
  color: white;
  border: 1px solid white;
  background-color: #34373E;
  font-size: 2.2vh;
}

.content__right button:hover{
  color: black;
  border: 1px solid black;
  background-color: white;
}

.chatbot{
  position: relative;
  left: 4vw;
}

a{
  position: relative;
  left: 34vw;
  top: 61vh;
  font-size: 4vh;
  color: white;
 
}

