*{
   margin:0;
   padding: 0;
}
html,body{
  width:100%;
  height:100%;
}

.service__info{
    padding: 0 54px;
    height: 20vh;
    background-color: #343434;
    width: 55%;
    position: relative;
    left: 21.5%; 
}

.card__info{
    position: relative;
    right: 13vw;
    background-color: white;
    width: 20vw;
    color: black;
    height: 40vh; 
}

.card__info Button{
    padding: 10px;
    position: relative;
    top: 4vh;
    color: white;
    font-weight: 500;
    border: 1px solid black;
    cursor: pointer;
    background-color: #343434;
}

.card__info Button:hover{
    color:#343434;
    background-color: white;
}
.card__info h4{
    position: relative;
    top: 1vh;
    font-size: 2.6vh;
    color: #f49200;
}

.card__info h2{
    position: relative;
    top: 1vh;
    font-size: 3.5vh;
}
.card__info p{
    position: relative;
    top: 1vh;
    color: gray;
    font-size: 2.5vh;
    width: 20vw;
    /* background-color: blue; */
}

.card__desgin{
    gap: 20px;
    display: flex;
    position: sticky;
}